<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:fragment="road">
    <th:block th:if="${@currentUser != null and @currentUser.isLogged()}">
        <section class="road">
            <img src="/images/most-commented.jpg" alt="">
            <div>
                <h2>The most commented route</h2>
                <p>Read more about the most commented route and do not miss the
                    chance to visit it and give your opinion to help other users.</p>
                <a href="/static" class="btn">Learn More</a>
            </div>
        </section>

        <!-- Portfolio -->
        <section class="gallery">
            <img th:each="picture : ${pictures}"
                 th:src="${picture.url}"
                 width="200px"
                 height="200px" alt="">
        </section>
    </th:block>
</div>

</body>
</html>